* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.clickButton {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}
